
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Arts</title>
</head>
<body>
    <h1>@ViewBag.Message</h1>
    <ul>
        <li><a asp-controller="" asp-action="">Our Mission </a></li>
        <li> <a asp-controller="" asp-action=""> Our Success</a></li>
        <li> <a asp-controller="" asp-action="">our Publication </a></li>
        <li><a asp-controller="" asp-action=""> Our Curriculam</a></li>

    </ul>
    <br />
    <h3> To Read</h3>
    <p>
        The Arts department is responsible for teaching courses in the fields of biology, chemistry, physics, and environmental science.
        The department provides students with a strong foundation in scientific principles and inquiry-based learning.
        It also offers a variety of hands-on laboratory experiences and projects to help students explore and apply scientific concepts.
        The science department encourages and supports scientific research and promotes an understanding of the impact of science on society.
        In addition, it fosters students' critical thinking, problem-solving, and analytical skills,
        which equip them for future endeavors in science or other fields.
    </p>

    <hr />
    <footer>Name:Testing MVC core app | Phone: 01736209575 | Email: tamim.cse14@gmail.com </footer>
</body>
</html>
