
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Saint Josep School and College,Dhaka-1000</h1>
        
    </div>
    <div>
        <ul>
            <li><a asp-controller="" asp-action="">Our Mission </a></li>
            <li> <a asp-controller="" asp-action=""> Our Success</a></li>
            <li> <a asp-controller="" asp-action="">our Publication </a></li>
            <li><a asp-controller="" asp-action=""> Our Curriculam</a></li>

        </ul>
    </div>
</body>
</html>
